# # av:php5-engine
AddHandler av-php7 .php
Options +FollowSymlinks
Options +Indexes

RewriteEngine on
RewriteBase /

#RewriteCond %{SCRIPT_FILENAME} !-f
#RewriteCond %{SCRIPT_FILENAME} !-d
RewriteRule ^(.*)$ app.php?uri=/$1    [NC,L,QSA]