<div class="row">
    <div class="col-1"></div>

    <fx-card class="col-4">
        <!-- body -->
        <fx-card-body>
            <div>
                <img alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            </div>
        </fx-card-body>
    </fx-card>

    <div class="col-1"></div>

    <fx-card class="col-4">
        <!-- header -->
        <fx-card-header class="row" style="text-align: center;">
            <div class="col-3"></div>
            <div class="col-6"><strong>Title Title</strong> </div>
            <div class="col-3"></div>
        </fx-card-header>

        <!-- body -->
        <fx-card-body>
            <div>
                <img alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
            </div>
        </fx-card-body>

        <!-- footer -->
        <fx-card-footer>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="modalService.open('my-modal')">
                LIKE
            </button>
        </fx-card-footer>
    </fx-card>

    <div class="col-2"></div>

</div>

<div class="row">
    <div class="col-1"></div>
    <fx-card class="col-4">
        <fx-card-header>
            <strong>Hilight Test</strong>
        </fx-card-header>

        <fx-card-body>
            <div>
                <br>
                <span hilight="lightBlue">This text will hilight if you hover the mouse</span>
                <br>
            </div>
        </fx-card-body>

        <fx-card-footer>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect">
                BUTTON
            </button>
        </fx-card-footer>
    </fx-card>
</div>

<modal id="my-modal">
    <div class="row" style="margin-top:10em;">
        <div class="col-4"></div>
        <fx-card class="col-4">
            <fx-card-header class="row" style="text-align: center;">
                <div class="col-3"></div>
                <div class="col-6"><strong>Modal title</strong> </div>
                <div class="col-3"></div>
            </fx-card-header>

            <fx-card-body>
                <div>
                    Even a modal !
                </div>
            </fx-card-body>

            <fx-card-footer>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4">
                        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" (click)="modalService.close('my-modal')">
                            CLOSE
                        </button>
                    </div>
                </div>
            </fx-card-footer>
        </fx-card>
        <div class="col-4"></div>
    </div>
</modal>